html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

@font-face {
    font-family: 'PopulaireforScandicRegular';
    src: url('/fonts/populaireforscandic-webfont.eot');
    src: url('/fonts/populaireforscandic-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/populaireforscandic-webfont.svg#PopulaireforScandicRegular') format('svg'), url('/fonts/populaireforscandic-webfont.woff') format('woff'), url('/fonts/populaireforscandic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header p, .bottom p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#414042;
	margin:0;
	padding:0;
}

h2.subTitle {
	font-family:'PopulaireforScandicRegular';
	text-transform: uppercase;
	letter-spacing:0.06em;
}
section.main .card div.membership-details {
	font-family: 'PT Sans Caption', sans-serif;
	color:#fff;
	text-transform: uppercase;
}

	header, section.main, section.bottom {
		margin:0;
		padding:0;		
	}
	header div.line, .bottom div.line {
		background-color:#dedede;
		height:1px;		
	}
	header h2, header h3, header div.line {
		margin:0;
		padding:0;		
	}


@media only screen and (max-device-width: 767px){
	section.main .card div.membership-details {
		position:relative;
	}
	.card {
		position:relative;
	}
	
	header h2.subTitle {
		float:right;
	}
	article.card {
		margin:auto;
	}

	header .personal-greeting {
		display:none;
	}
	header p {
		display: none;
	}


@media screen and (orientation:portrait) { 
	header h2, header div.line {
		display:inline-block;
	}
	header, section.main, section.bottom {
		display:block;
	}

	header h2.logo {
		background:url(../../images/scandic_logo_portrait.png) no-repeat top left;
		background-size:contain;
	}

	article.card.first-floor.x2 {
		background:url(../images/first_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.second-floor.x2 {
		background:url(../images/second_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.third-floor.x2 {
		background:url(../images/third_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-floor.x2 {
		background:url(../images/top_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-invitation-floor.x2 {
		background:url(../images/top_invitation_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}

	@media screen and (-webkit-min-device-pixel-ratio: 2) {
		header h2.logo {
			background:url(../images/scandic_logo_portrait_2x.png) no-repeat top left;
			background-size:contain;
		}

		article.card.first-floor.x2 {
			background:url(../images/first_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.second-floor.x2 {
			background:url(../images/second_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.third-floor.x2 {
			background:url(../images/third_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-floor.x2 {
			background:url(../images/top_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-invitation-floor.x2 {
			background:url(../images/top_invitation_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
	}

	.card .membership-details {
		transform-origin:100% 0%; /* set to the upper-left corner */    	
    	-ms-transform-origin:100% 0%; /* IE 9 */    	
    	-webkit-transform-origin:100% 0%;
    	-moz-transform-origin:100% 0%;
	    -moz-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);		
	    transform: rotate(-90deg);		
	}
}
@media screen and (orientation:landscape) { 
	.card .membership-details {
		position:relative;
	}
	header, .main, .bottom {
		float:left;
		position:relative;
		height:100%;
	}
	header h2.subTitle {
		display:none;
	}
	header div.line {
		position:absolute;
		width:1px;
	}
	header h2 {
		transform-origin:0 0; /* set to the upper-left corner */    	
    	-ms-transform-origin:0 0; /* IE 9 */    	
    	-webkit-transform-origin:0 0;
    	-moz-transform-origin:0 0;
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);		
	    transform: rotate(90deg);		
	}
	header h2.logo {
		background:url(../images/scandic_logo_portrait.png) no-repeat top left;
		background-size:contain;		
		position:relative;
	}

	article.card.first-floor.x2 {
		background:url(../images/first_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.second-floor.x2 {
		background:url(../images/second_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.third-floor.x2 {
		background:url(../images/third_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-floor.x2 {
		background:url(../images/top_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-invitation-floor.x2 {
		background:url(../images/top_invitation_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}

	@media screen and (-webkit-min-device-pixel-ratio: 2) {
		header h2.logo {
			background:url(../images/scandic_logo_portrait_2x.png) no-repeat top left;
			background-size:contain;		
			position:relative;
		}

		article.card.first-floor.x2 {
			background:url(../images/first_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.second-floor.x2 {
			background:url(../images/second_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.third-floor.x2 {
			background:url(../images/third_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-floor.x2 {
			background:url(../images/top_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-invitation-floor.x2 {
			background:url(../images/top_invitation_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
	}
	.bottom .line, .bottom p {
		display:none;
	}
}
} /* End @media only screen and (max-device-width: 768px) */

@media only screen and (max-device-width: 1024px) and (min-device-width:768px){
	 body {
	 	background:url(../images/bg_body.png) repeat top left;
	 }
	 header, section, div {
	 	display:block;
	 }
	 #container {
	 	background: url("../images/bg-long.png") repeat-y scroll center bottom transparent;
	 	background-size: 100% auto;
	 	width:768px;	 	
	 	background-color:#fff;	 	
	 	margin:0 auto;
	 	min-height:100%;
	 }

	 header {
	 	padding-top:24px;
	 	margin:0 37px 14px 37px;
	 }
	 header h2.logo {
		background:url(../images/scandic_logo_portrait_2x.png) no-repeat top left;
		background-size:contain;		
		width:149px;
		height:32px;	 	
	 }
	 header h2.subTitle {
	 	display:none;
	 }
	 header div.line {
	 	display:inline-block;
	 	margin-top:10px;
	 	width:682px;
	 }
	 header h3.personal-greeting {
	 	line-height:48px;
	 	font-size:64px;
	 	color:#414042;
	 	font-family: 'PopulaireforScandicRegular';
	 	margin-top:48px;
	 	font-weight: 100;
	 	text-transform: uppercase;
	 	letter-spacing: 0.04em;
	 }
	 header p {
	 	line-height:16px;
	 	font-size:11.6px;
	 	color:#414042;	 	
	 	margin:0;
	 	padding:0;
	 }	 
	 section.main {
	 	margin:0 22px 0 22px;
	 	padding-bottom:22px;
	 }
	 section.main .card {
	 	width:709px;
	 	height:460px;
	 }
	 section.main .card.second-floor {
		background:url(../images/second_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.third-floor {
		background:url(../images/third_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-floor {
		background:url(../images/top_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-invitation-floor {
		background:url(../images/top_invitation_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }

	 section.main .membership-details {	 	
	 	padding-left:70px;
	 	padding-top:328px;	 	
	 }
	 section.main .membership-details .membership-number {
	 	line-height: 38px;
	 	font-size:33.6px;
	 }	 	
	 section.main .membership-details .info {
	 	line-height: 25px;
	 	font-size: 17px;
	 }

	 section.bottom {
	 	display:none;
	 }
}

@media only screen and (min-device-width: 1024px){
	 body {
	 	background:url(../images/bg_body.png) repeat top left;
	 }
	 header, section, div {
	 	display:block;
	 }
	 #container {
	 	background: url("../images/bg-long.png") repeat-y scroll center bottom transparent;
	 	width:1024px;	 	
	 	background-color:#fff;	 	
	 	margin:0 auto;
	 	min-height:100%;
	 }

	 header {
	 	padding-top:33px;
	 	margin:0 49px 19px 49px;
	 }
	 header h2.logo {
		background:url(../images/scandic_logo_portrait_2x.png) no-repeat top left;
		background-size:contain;		
		width:196px;
		height:41px;	 	
	 }
	 header h2.subTitle {
	 	display:none;
	 }
	 header div.line {
	 	display:inline-block;
	 	margin-top:10px;
	 	width:905px;
	 }
	 header h3.personal-greeting {
	 	line-height:66px;
	 	font-size:64px;
	 	color:#414042;
	 	font-family: 'PopulaireforScandicRegular';
	 	margin-top:62px;
	 	font-weight: 100;
	 	text-transform: uppercase;
	 	letter-spacing: 0.04em;
	 }
	 header p {
	 	line-height:20px;
	 	font-size:15px;
	 	color:#414042;	 	
	 	margin:0;
	 	padding:0;
	 }	 
	 section.main {
	 	margin:0 32px 0 32px;
	 	padding-bottom:33px;
	 }
	 section.main .card {
	 	width:943px;
	 	height:609px;
	 }
	 section.main .card.first-floor {
		background:url(../images/first_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.second-floor {
		background:url(../images/second_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.third-floor {
		background:url(../images/third_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-floor {
		background:url(../images/top_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-invitation-floor {
		background:url(../images/top_invitation_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }

	 section.main .membership-details {	 	
	 	padding-left:95px;
	 	padding-top:419px;	 	
	 }
	 section.main .membership-details .membership-number {
	 	line-height: 52px;
	 	font-size:45px;
	 }	 	
	 section.main .membership-details .info {
	 	line-height: 34px;
	 	font-size: 22px;
	 }

	 section.bottom {
	 	display:none;
	 }
}