@font-face
{
    font-family: 'PopulaireforScandicRegular';
    src: url('/MembershipCard/public/fonts/populaireforscandic-webfont.eot');
    src: url('/MembershipCard/public/fonts/populaireforscandic-webfont.eot?#iefix') format('embedded-opentype'), url('/MembershipCard/public/fonts/populaireforscandic-webfont.svg#PopulaireforScandicRegular') format('svg'), url('/MembershipCard/public/fonts/populaireforscandic-webfont.woff') format('woff'), url('/MembershipCard/public/fonts/populaireforscandic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.memno
{
    font-family: 'PT Sans Caption' , sans-serif;
    letter-spacing: 0.06em;
    margin-left: 18px;
}

header h4.personal-greeting
{
    line-height: 28px;
    font-size: 34px;
    color: #414042;
    font-family: 'PopulaireforScandicRegular';
    margin-top: 18px;
    margin-left: 0px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}
#txtLoyaltyUsername
{
    margin-left: 6px;
}
#txtLoyaltyLastname
{
    margin-left: 85px;
}
.message
{
    margin-top: 10px;
}
.btncolor
{
    color: green;
}

input, textarea
{
    border: 1px solid #CCC;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
}
