html, body, form, fieldset, legend, label
{
 margin: 0;
 padding: 0;
 height:100%; 
}

@font-face {
    font-family: 'PopulaireforScandicRegular';
    src: url('/MembershipCard/public/fonts/populaireforscandic-webfont.eot');
    src: url('/MembershipCard/public/fonts/populaireforscandic-webfont.eot?#iefix') format('embedded-opentype'), url('/MembershipCard/public/fonts/populaireforscandic-webfont.svg#PopulaireforScandicRegular') format('svg'), url('/MembershipCard/public/fonts/populaireforscandic-webfont.woff') format('woff'), url('/MembershipCard/public/fonts/populaireforscandic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
header p, .bottom p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#414042;
	margin:0;
	padding:0;
}

h2.subTitle {
	font-family:'PopulaireforScandicRegular';
	text-transform: uppercase;
	letter-spacing:0.06em;
}
section.main .card div.membership-details {
	font-family: 'PT Sans Caption', sans-serif;
	color:#fff;
	text-transform: uppercase;
}

	header, section.main, section.bottom {
		margin:0;
		padding:0;		
	}
	header div.line, .bottom div.line {
		background-color:#dedede;
		height:1px;		
	}
	header h2, header h3, header div.line {
		margin:0;
		padding:0;		
	}


@media only screen and (max-device-width: 767px){
	header h2.subTitle {
		float:right;
	}
	article.card {
		margin:auto;
	}
	
	header .personal-greeting {
		display:none;
	}
	
	header p {
		display: none;
	}


@media screen and (orientation:portrait) { 
	section.main .card div.membership-details {
		position:absolute;
	}
	header.bottomHeader {
		display:none;
	}

	.card {
		position:relative;
		width:49vmax;
		height:78vmax;

	}
	header div.line {
		width:47vmax;
		margin-top:1vmax;
	}
	header {
		height: 11vmax;
		width:47vmax;
		margin:0 auto;
	}
	section.bottom {
		width:47vmax;
		margin:0 auto;
	}
	
	header h2.logo {
		width:25vmax;
		height:5vmax;
		margin-top:3vmax;
	}
	section.main {
		height: 80vmax;
	}
	section.bottom {
		height:9vmax;
	}
	.membership-details {
		position:absolute;
		bottom: 7vmax;
		left:43vmax;
		width:60vmax;
		font-size:4vmax;
	} 
	.membership-details #membershipName, .membership-details .expDate {
		font-size:3vmax;
	}


	header h2, header div.line {
		display:inline-block;
	}
	header, section.main, section.bottom {
		display:block;
	}

	header h2.logo {
		background:url(/MembershipCard/public/images/scandic_logo_portrait.jpg) no-repeat top left;
		background-size:contain;
	}

	article.card.first-floor.x2 {
		background:url(/MembershipCard/public/images/first_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.second-floor.x2 {
		background:url(/MembershipCard/public/images/second_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.third-floor.x2 {
		background:url(/MembershipCard/public/images/third_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-floor.x2 {
		background:url(/MembershipCard/public/images/top_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-invitation-floor.x2 {
		background:url(/MembershipCard/public/images/top_invitation_floor_portrait.jpg) no-repeat center top;
		background-size: contain;		
	}

	@media screen and (-webkit-min-device-pixel-ratio: 2) {
		header h2.logo {
			background:url(/MembershipCard/public/images/scandic_logo_portrait_2x.png) no-repeat top left;
			background-size:contain;
		}

		article.card.first-floor.x2 {
			background:url(/MembershipCard/public/images/first_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.second-floor.x2 {
			background:url(/MembershipCard/public/images/second_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.third-floor.x2 {
			background:url(/MembershipCard/public/images/third_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-floor.x2 {
			background:url(/MembershipCard/public/images/top_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-invitation-floor.x2 {
			background:url(/MembershipCard/public/images/top_invitation_floor_portrait_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
	}

	.card .membership-details {
		transform-origin:0% 100%; /* set to the upper-left corner */    	
    	-ms-transform-origin:0% 100%; /* IE 9 */    	
    	-webkit-transform-origin:0% 100%;
    	-moz-transform-origin:0% 100%;
	    -moz-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    -webkit-transform: rotate(-90deg);		
	    transform: rotate(-90deg);		
	}
}
@media screen and (orientation:landscape) { 
	section.main {
		width:88vmax;
		height:100vmin;
	}
	header.topHeader { display:none;}
	section.main .card {
		width:83vmax;
		height:52vmax;
		top:50%;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		position:relative;
		margin:0;
		left:5vmax;
	}
	.membership-details {
		position:absolute;
		bottom: 7vmax;
		left:7vmax;
		width:60vmax;
		font-size:4vmax;
	} 
	.membership-details #membershipName, .membership-details .expDate {
		font-size:3vmax;
	}
	
	
	section.bottom {
		display:none;
	}
	.bottomHeaderContainer {
		width:12vmax;
		height:100vmin;
		position:absolute;
		top:0;
		right:0;
	}
	header.bottomHeader {
		left:0;
		width:12vmax;
		height:51vmax;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		position:relative;
		top:50%;
	}
	header div.line {
		height:51vmax;
		top:0;
		left:3vmax;
	}
	header.bottomHeader h2.logo {
		height:4.6vmax;
		width:21.5vmax;
		left:4vmax;
		top:-4vmax;
	}
	
	header h2.subTitle {
		display:none;
	}
	header div.line {
		position:absolute;
		width:1px;
	}
	header h2 {
		transform-origin:0 100%; /* set to the upper-left corner */    	
    	-ms-transform-origin:0 100%; /* IE 9 */    	
    	-webkit-transform-origin:0 100%;
    	-moz-transform-origin:0 100%;
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);		
	    transform: rotate(90deg);		
	}
	header h2.logo {
		background:url(/MembershipCard/public/images/scandic_logo_portrait.jpg) no-repeat top left;
		background-size:contain;		
		position:relative;
	}

	article.card.first-floor.x2 {
		background:url(/MembershipCard/public/images/first_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.second-floor.x2 {
		background:url(/MembershipCard/public/images/second_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.third-floor.x2 {
		background:url(/MembershipCard/public/images/third_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-floor.x2 {
		background:url(/MembershipCard/public/images/top_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}
	article.card.top-invitation-floor.x2 {
		background:url(/MembershipCard/public/images/top_invitation_floor_landscape.jpg) no-repeat center top;
		background-size: contain;		
	}

	@media screen and (-webkit-min-device-pixel-ratio: 2) {
		header h2.logo {
			background:url(/MembershipCard/public/images/scandic_logo_portrait_2x.png) no-repeat top left;
			background-size:contain;		
			position:relative;
		}

		article.card.first-floor.x2 {
			background:url(/MembershipCard/public/images/first_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.second-floor.x2 {
			background:url(/MembershipCard/public/images/second_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.third-floor.x2 {
			background:url(/MembershipCard/public/images/third_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-floor.x2 {
			background:url(/MembershipCard/public/images/top_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
		article.card.top-invitation-floor.x2 {
			background:url(/MembershipCard/public/images/top_invitation_floor_landscape_2x.jpg) no-repeat center top;
			background-size: contain;		
		}
	}
	.bottom .line, .bottom p {
		display:none;
	}
}
} /* End @media only screen and (max-device-width: 768px) */

@media only screen and (max-device-width: 1024px) and (min-device-width:768px){
	 body {
	 	background:url(/MembershipCard/public/images/bg_body.png) repeat top left;
	 }
	 header, section, div {
	 	display:block;
	 }
	 #container {
	 	background: url("/MembershipCard/public/images/bg-long.png") repeat-y scroll center bottom transparent;
	 	background-size: 100% auto;
	 	width:768px;	 	
	 	background-color:#fff;	 	
	 	margin:0 auto;
	 	min-height:100%;
	 }

	 header {
	 	padding-top:24px;
	 	margin:0 37px 14px 37px;
	 }
	 header h2.logo {
		background:url(/MembershipCard/public/images/scandic_logo_portrait_2x.png) no-repeat top left;
		background-size:contain;		
		width:149px;
		height:32px;	 	
	 }
	 header h2.subTitle {
	 	display:none;
	 }
	 header div.line {
	 	display:inline-block;
	 	margin-top:10px;
	 	width:682px;
	 }
	 header h3.personal-greeting {
	 	line-height:48px;
	 	font-size:64px;
	 	color:#414042;
	 	font-family: 'PopulaireforScandicRegular';
	 	margin-top:48px;
	 	margin-left:0px;
	 	font-weight: 100;
	 	text-transform: uppercase;
	 	letter-spacing: 0.04em;
	 }
	 header p {
	 	line-height:16px;
	 	font-size:11.6px;
	 	color:#414042;	 	
	 	margin:0;
	 	padding:0;
	 }	 
	 section.main {
	 	margin:0 22px 0 22px;
	 	padding-bottom:22px;
	 }
	 section.main .card {
	 	width:409px;
	 	height:260px;
	 }
	 section.main .card.first-floor {
		background:url(/MembershipCard/public/images/first_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;
	 }
	 section.main .card.second-floor {
		background:url(/MembershipCard/public/images/second_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.third-floor {
		background:url(/MembershipCard/public/images/third_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-floor {
		background:url(/MembershipCard/public/images/top_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-invitation-floor {
		background:url(/MembershipCard/public/images/top_invitation_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }

	 section.main .membership-details {	 	
	 	padding-left:44px;
	 	padding-top:164px;	 	
	 }
	 section.main .membership-details .membership-number {
	 	line-height: 38px;
	 	font-size:33.6px;
	 }	 	
	 section.main .membership-details .info {
	 	line-height: 25px;
	 	font-size: 17px;
	 }
	div.bottomHeaderContainer
	{
		display:none;
	}
	 section.bottom {
	 	display:none;
	 }
}

@media only screen and (min-device-width: 1024px){
	 body {
	 	background:url(/MembershipCard/public/images/bg_body.png) repeat top left;
	 }
	 header, section, div {
	 	display:block;
	 }
	 #container {
	 	background: url("/MembershipCard/public/images/bg-long.png") repeat-y scroll center bottom transparent;
	 	width:1024px;	 	
	 	background-color:#fff;	 	
	 	margin:0 auto;
	 	min-height:100%;
	 }

	 header {
	 	padding-top:33px;
	 	margin:0 49px 19px 49px;
	 }
	 header h2.logo {
		background:url(/MembershipCard/public/images/scandic_logo_portrait_2x.png) no-repeat top left;
		background-size:contain;		
		width:196px;
		height:41px;	 	
	 }
	 header h2.subTitle {
	 	display:none;
	 }
	 header div.line {
	 	display:inline-block;
	 	margin-top:10px;
	 	width:905px;
	 }
	 header h3.personal-greeting {
	 	line-height:66px;
	 	font-size:44px;
	 	color:#414042;
	 	font-family: 'PopulaireforScandicRegular';
	 	margin-top:10px;
	 	font-weight: 100;
	 	text-transform: uppercase;
	 	letter-spacing: 0.04em;
	 }
	 header p {
	 	line-height:20px;
	 	font-size:15px;
	 	color:#414042;	 	
	 	margin:0;
	 	padding:0;
	 }	 
	 section.main {
	 	margin:0 32px 0 32px;
	 	padding-bottom:33px;
	 }
	 section.main .card {
	 	width:525px;
	 	height:310px;
	 }
	 section.main .card.first-floor {
		background:url(/MembershipCard/public/images/first_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.second-floor {
		background:url(/MembershipCard/public/images/second_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.third-floor {
		background:url(/MembershipCard/public/images/third_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-floor {
		background:url(/MembershipCard/public/images/top_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }
	 section.main .card.top-invitation-floor {
		background:url(/MembershipCard/public/images/top_invitation_floor_landscape_2x.jpg) no-repeat center top;
		background-size: contain;		
	 }

	 section.main .membership-details {	 	
	 	padding-left:69px;
	 	padding-top:179px;	 	
	 }
	 section.main .membership-details .membership-number {
	 	line-height: 42px;
	 	font-size:25px;
	 }	 	
	 section.main .membership-details .info {
	 	line-height: 24px;
	 	font-size: 16px;
	 }
	div.bottomHeaderContainer{
		display:none;
	}
	 section.bottom {
	 	display:none;
	 }
}